@model List<Person>
@{
    ViewData["Title"] = "Person Index";
}

<h1>Person List</h1>

<form>
    <span class="col-12">
            <p class="col"><input type="text" id="createName" name="name" placeholder="Name"></p>
            <p class="col"><input type="text" id="createAge" name="age" placeholder="Age"></p>
            <p class="col">
                <button class="btn btn-success" onclick="LinkCreate('@Url.Action("CreatePerson", "Person")')">
                    Create Person
                </button>
            </p>        
    </span>
</form>
@*<div>
    <div class="col"><b>Name</b></div>
    <div class="col"><b>Age</b></div>
    
    <div id="AllPersons">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Person", item)
        }

    </div>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<div id="AllPersons">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_Person", item)
    }

</div>