@model CityVM
@{
    ViewData["Title"] = "Cities";
}

<h1>Create a City</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Country" asp-action="CreateCity">
            <div class="row form-border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                                           @*     id from details ex  ((int) id)   *@
                    <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.CountryId">Back</a>
                    <input class="btn btn-sm btn-success" type="submit" value="Create" />
                </div>
                <input asp-for="CountryId" type="hidden" />
        </form>
    </div>
</div>