@model Country

@{
    ViewData["Title"] = "Create Country";
}

<br />
<h2>Create Country</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Country" asp-action="CreateCountry">
            <div class="row form-border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Student" class="btn btn-sm btn-success" />
                    <a class="btn btn-danger" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<hr />